/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v20/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32lw.woff2) format('woff2'), url('/Inconsolata-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v20/QlddNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLyya15.woff2) format('woff2'), url('/Inconsolata-Bold.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  src: local('Damion'), url(https://fonts.gstatic.com/s/damion/v10/hv-XlzJ3KEUe_YZkamw2.woff2) format('woff2'), url('/Damion-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2'), url('/Roboto-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Symbola", sans-serif;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	/* hack to implement round() */
	--shf: 4.9406564584124654e-324;
}

h1, h2, h3, h4, h5, h6 {
	color: #c79c60;
	line-height: normal;
	margin-bottom: 0.1em;
}

a {
	text-decoration: none;
	color: #c79c60;
}

a:hover {
	text-decoration: underline;
}

header {
	background: black;
	color: white;
	padding: 1rem calc(10vw - 1.3rem);
}

.max-width {
	max-width: 75rem;
	margin: 0 auto;
}

#header-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

#site-title {
	font-size: calc(1rem + 4.5vw);
	line-height: 1;
	font-family: 'Damion';
	color: #c79c60;
	/* Safari workaround for broken calc() */
	min-height: 0vw;
}

#site-title * {
	font-family: inherit;
	text-decoration: none;
}

#site-logo {
	height: calc(1rem + 7vw);
	vertical-align: bottom;
}

.bottom-baseline {
	display: inline-block;
}

nav {
	display: inline-block;
	font-size: calc(0.4rem + 1.2vw);
	font-weight: 600;
	/* Safari workaround for broken calc() */
	min-height: 0vw;
}

nav ul {
	list-style: none;
	display: inline-block;
}

nav ul li {
	display: inline;
	margin-left: 0.9em;
}

#dropdown-checkbox, #dropdown-icon {
	display: none;
	font-size: calc(1.1rem + 2vw);
}

@keyframes drop-down {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}


@media (max-width: 30rem) {
	nav {
		display: none;
		flex-basis: 480px;
		margin-top: 0.5rem;
	}

	nav ul li {
		display: block;
	}

	#dropdown-icon {
		display: inline-block;
	}

	#dropdown-checkbox:checked ~ nav {
		display: inline-block;
	}

	#dropdown-checkbox:checked ~ nav ul {
		animation: 200ms forwards drop-down;
		transform-origin: top;
	}
}

main {
	padding: 1rem calc(10vw - 1.3rem);
}

#radio {
	margin: 1.2rem 0 0.5rem 0;
	font-family: 'Damion';
	font-size: calc(1rem + 1vw);
	color: #c79c60;
	/* Safari workaround for broken calc() */
	min-height: 0vw;
}

audio {
	vertical-align: baseline;
	max-height: calc(0.7rem + 0.8vw);
	max-width: 72vw;
	margin-left: calc(0.3rem + 1vw);
	/* Safari workaround for broken calc() */
	min-height: 0vw;
}

article {
 	font-size: 0.9rem;
	line-height: 1.2rem;
	hyphens: auto;
	text-align: justify;
	clear: both;
}

figure {
	clear: both;
	display: table;
	float: right;
	border: 1px solid;
	border-color: #aaaaaa;
	padding: 0.2rem;
	margin: 0.5rem 0 0.5rem 1rem;
}

figure:hover {
	border-color: #c79c60;
}

figure img {
	display: block;
	max-width: 100%;
	width: calc(210px + 15vw);
}

figcaption {
	margin-top: 0.3rem;
	display: table-caption;
	caption-side: bottom;
	font-size: smaller;
	line-height: 1rem;
}

@media (max-width: 600px) {
	figure {
		float: none;
		margin: 0.5rem auto;
	}

	figure img {
		width: auto;
	}
}

p, li {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

li {
	margin-left: 1rem;
}

.color {
	color: #c79c60;
}

.clear {
	clear: both;
}

.highlight {
	clear: both;
}

pre {
	background-color: #eeeeeeee;
	border: 1px solid;
	border-color: #aaaaaa;
	padding: calc(0.1rem + 1vw);
	margin: 1rem auto;
	font-family: 'Inconsolata', monospace;
	font-size: calc((0.6rem + 0.4vw) * var(--shf) / var(--shf));
	overflow-x: scroll;
	line-height: 1.2em;
}

pre span {
	font-family: inherit;
	font-size: inherit;
}

pre .cm {
	color: #1090a0;
}

pre .kt, pre .cp {
	color: #e07000;
	font-weight: 700;
}

pre .o {
	color: #a01010;
}

pre .mi {
	color: #3060f0;
}

pre .s, pre .se {
	color: #c09000;
}

pre .nb {
	color: #a020a0;
	font-weight: 700;
}

pre .nf {
	color: #209020;
}

code {
	font-family: 'Inconsolata', monospace;
	background-color: #eeeeeeee;
	hyphens: none;
}

form {
	margin: 1rem 0;
}

footer {
	background: black;
	color: white;
	padding: 1rem calc(10vw - 1.3rem);
	clear: both;
}

.js-required {
	display: none;
}

@media (max-width: 12.5rem) {
	#site-title {
		font-size: 2.2rem;
	}
	#site-logo {
		font-size: 3rem;
	}
	nav {
		font-size: 0.5rem;
	}
	#radio {
		font-size: 0.5rem;
	}
	audio {
		max-height: 0.8rem;
		max-width: 7rem;
		margin-left: 0.4rem;
	}
	pre {
		padding: 0.225rem;
		font-size: 0.65rem;
	}
}

@media (min-width: 90.5rem) {
	#site-title {
		font-size: 5.0725rem;
	}
	#site-logo {
		height: 7.335rem;
	}
	nav {
		font-size: 1.486rem;
	}
	#radio {
		font-size: 1.905rem;
	}
	audio {
		max-height: 1.424rem;
		max-width: 50rem;
		margin-left: 1.205rem;
	}
	figure img {
		width: calc(210px + 13.575rem);
	}
	pre {
		padding: 1.005rem;
		font-size: 1rem;
	}
}
